//responsive
$res_375: "only screen and (min-width: 375px)";
$res_425: "only screen and (min-width: 425px)";
$res_575: "only screen and (min-width: 575px)";
$res_768: "only screen and (min-width: 768px)";
$res_992: "only screen and (min-width: 992px)";
$res_1024: "only screen and (min-width: 1025px)";
$res_1200: "only screen and (min-width: 1200px)";
@mixin responsive_375() {
  @media #{$res_375} {
    @content;
  }
}

@mixin responsive_425() {
  @media #{$res_425} {
    @content;
  }
}

@mixin responsive_575() {
  @media #{$res_575} {
    @content;
  }
}

@mixin responsive_768() {
  @media #{$res_768} {
    @content;
  }
}

@mixin responsive_992() {
  @media #{$res_992} {
    @content;
  }
}

@mixin responsive_1024() {
  @media #{$res_1024} {
    @content;
  }
}

@mixin responsive_1200() {
  @media #{$res_1200} {
    @content;
  }
}
